
<%= form_for(@todo, html: {class: 'form-horizontal'}) do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--   Project Title and description     -->
  <div class="field form-group">
    <%= f.label :project_name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.text_field :project_name, class: 'form-control' %>
    </div>
  </div>
  
  <div class="field form-group">
    <%= f.label :project_description, class: 'col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.text_area :project_description, class: 'form-control' %>
    </div>
  </div>
  
<!-- Repeatable Verbatim Data -->
<div class="container">
<h2>Verbatim Data</h2>
<div class="field form-group">
    <table id="myTable" class="table order-list">
    <thead>
        <tr>
            <td>Topic Code</td>
            <td>Topic Type</td>
            <td>Survey Column</td>
            <td>Topic title</td>
            <td>Topic Frame of Reference</td>
            <td>Segment</td>
            <td>Product Mindset</td>
            <td>Ranking Value</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="col-sm-1">
                <span class="has-tooltip" data-toggle="tooltip" title="T1, R1, etc.  Note: Lableing it R will not cause it to be a ranking.">
       
                <%= f.text_field :v_topic_code, class: 'form-control' %>
                 
                 </span>
            </td>
            <td class="col-sm-1">
                        
                <span class="has-tooltip" data-toggle="tooltip" title="Ranking or standard">
       
                <%= f.text_field :v_topic_type, class: 'form-control' %>
     
            </span>
            
            </td>
            <td class="col-sm-1">
            
                 <span class="has-tooltip" data-toggle="tooltip" title="Column where the verbatim should begin grabbing data.">
       
                <%= f.text_field :v_survey_column, class: 'form-control' %>
                </span>
            </td>
             <td class="col-sm-1">
             
                <span class="has-tooltip" data-toggle="tooltip" title="Name to display on sheet tab in excel.">
       
                <%= f.text_field :v_topic_title, class: 'form-control' %>
                </span>
            </td>
            <td class="col-sm-1">
                         <span class="has-tooltip" data-toggle="tooltip" title="Detailed description of sheet in verbatim, appears at top of excel sheet.">
       
                <%= f.text_field :v_topic_frame, class: 'form-control' %>
                </span>
            </td>
            <td class="col-sm-1">
                         <span class="has-tooltip" data-toggle="tooltip" title="Column to start segment.">
       
                <%= f.text_field :v_segment, class: 'form-control' %>
                </span>
            </td>
             <td class="col-sm-1">
                           <span class="has-tooltip" data-toggle="tooltip" title="Column to compare valence for separate product.">
       
                <%= f.text_field :v_product_mindset, class: 'form-control' %>
                </span>
            </td>
            <td class="col-sm-1">
                         <span class="has-tooltip" data-toggle="tooltip" title="Number of ranking statments evaluated">
       
                <%= f.text_field :v_ranking_num, class: 'form-control' %>
                </span>
            </td>
                      
            
            <td class="col-sm-1"><a class="deleteRow"></a>

            </td>
        
        

        
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8" style="text-align: left;">
                <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" />
                
                
            </td>
        </tr>
        <tr>
        </tr>
    </tfoot>
</table>
 </div>
</div>



<div class="container">
<h2>Graph Data</h2>
<div class="field form-group">
    <table id="myTable1" class="table order-list1">
    <thead>
        <tr>
            <td>Topic Code</td>
            <td>Topic Type</td>
            <td>Survey Column</td>
            <td>Topic title</td>
            <td>Topic Frame of Reference</td>
            <td>Segment</td>
            <td>Product Mindset</td>
            <td>Ranking Value</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="col-sm-1">
                <span class="has-tooltip" data-toggle="tooltip" title="T1, R1, etc.  Note: Lableing it R will not cause it to be a ranking.">
       
                <%= f.text_field :g_topic_code, class: 'form-control' %>
                 
                 </span>
            </td>
            <td class="col-sm-1">
                        
                <span class="has-tooltip" data-toggle="tooltip" title="Ranking or standard">
       
                <%= f.text_field :g_topic_type, class: 'form-control' %>
     
            </span>
            
            </td>
            <td class="col-sm-1">
            
                 <span class="has-tooltip" data-toggle="tooltip" title="Column where the verbatim should begin grabbing data.">
       
                <%= f.text_field :g_survey_column, class: 'form-control' %>
                </span>
            </td>
             <td class="col-sm-1">
             
                <span class="has-tooltip" data-toggle="tooltip" title="Name to display on sheet tab in excel.">
       
                <%= f.text_field :g_topic_title, class: 'form-control' %>
                </span>
            </td>
            <td class="col-sm-1">
                         <span class="has-tooltip" data-toggle="tooltip" title="Detailed description of sheet in verbatim, appears at top of excel sheet.">
       
                <%= f.text_field :g_topic_frame, class: 'form-control' %>
                </span>
            </td>
            <td class="col-sm-1">
                         <span class="has-tooltip" data-toggle="tooltip" title="Column to start segment.">
       
                <%= f.text_field :g_segment, class: 'form-control' %>
                </span>
            </td>
             <td class="col-sm-1">
                           <span class="has-tooltip" data-toggle="tooltip" title="Column to compare valence for separate product.">
       
                <%= f.text_field :g_product_mindset, class: 'form-control' %>
                </span>
            </td>
            <td class="col-sm-1">
                         <span class="has-tooltip" data-toggle="tooltip" title="Number of ranking statments evaluated">
       
                <%= f.text_field :g_ranking_num, class: 'form-control' %>
                </span>
            </td>
                      
            
            <td class="col-sm-1"><a class="deleteRow"></a>

            </td>
        
        

        
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8" style="text-align: left;">
                <input type="button" class="btn btn-lg btn-block " id="addrow1" value="Add Row" />
                
                
            </td>
        </tr>
        <tr>
        </tr>
    </tfoot>
</table>
 </div>
</div>


    
 
  
  
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      
      <%= f.submit :Submit %>
    </div>
  </div>
<% end %>
